<h1><i>Congratulations! </i><h1>
<h3>Your storage reservation has been confirmed</h3>
  <p>You can reach our the home owner at 555-555-5555</p>
  <p>Your check in date is 05/03/16<br>
    Your check out date is 7/24/16</p>

  <img src="http://simeonkakpovi.com/home/wp-content/uploads/2016/03/Screen-Shot-2016-03-26-at-11.31.16-AM.png" class="responsive-img">